<template>
    <table>
        <tr>
            <th>Name</th>
            <th>Funny Score</th>
        </tr>
        <tr v-for="person in people"  v-on:click="selectPerson(person, $event)">
            <td v-text="person.name"></td>
            <td v-text="person.fs"></td>
        </tr>
    </table>
</template>

<style>
    table {
        width: 50%;
    }
    tr {
        cursor: pointer;
    }
    th {
        background-color: beige;
    }
    td {
        border-bottom: 1px solid #aaa;
    }
    .selected {
        background-color: #eef;
    }
</style>

<script>
    import $ from "jquery"
    export default {
        data: function(){
            return {
                people : [
                    {name: 'Srinivas', fs: 100},
                    {name:'Balaji',fs:99},
                    {name:'Ananya',fs:52},
                    {name:'Ratanraj',fs:30}
                ]
            }
        },
        methods: {
            selectPerson: function(person, event) {
                $(".selected").removeClass("selected");
                $(event.target.parentElement).addClass('selected');
                this.$dispatch('person-selected', person);
            }
        }
    }
</script>