<template>
  <div class="hello">
    <button v-on:click="buttonClicked">{{ msg }}</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
    }
  },
  methods : {
      buttonClicked: function(){
          this.$dispatch('button-click',this.msg)
      }
  },
  props: ['msg']
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1 {
  color: #b94283;
}
</style>
