<template>
    <div class="messagebox">
        <h1>{{msg}}</h1>
    </div>
</template>
<style>
    div.messagebox {
        border: 1px solid #aaa;
        width: 500px;
        padding: 30px;
    }
</style>
<script>
export default {
    props: ['msg']
}
</script>