<template>
    <r-hello msg="Aviso" v-on:button-click="cool"></r-hello>
    <message-box :msg="output"></message-box>
    <grid-view v-on:person-selected="personSelected"></grid-view>
</template>

<script>
import Hello from './components/Hello'
import MessageBox from './components/MessageBox'
import GridView from './components/gridview'

export default {
  data: function(){
      return {
          output: ''
      }
  },
  components: {
    'r-hello':Hello,
    'message-box':MessageBox,
    'grid-view': GridView
  },
  methods: {
      cool:function(data){
          console.log(this);
          this.output=data;
      },
      personSelected: function(person){
          this.output = person.name + " is "+ person.fs + "% funny!";
      }
  }
}
</script>

<style>
    * {
        font-family: sans-serif;
    }
</style>
